/* @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Readex+Pro:wght@160..700&display=swap'); */


/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body p,
a,
li,
b,
strong,
div {
  font-family: var(--fontPrimary);
}

body button {
  font-family: var(--fontPrimary) !important;
} */

/* body h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--fontPrimary);
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* colors  */
  --primary: #d9822b;
  --secondary: #c33332;
  --tertiary: #245396;
  --alternate: #e0e3e7;
  --primarybg: #fff;
  --secondarybg: #fcfcfc;
  --primarytext: #14181b;
  --secondarytext: #57636c;
  --accent1: #bb681f;
  --accent2: #a81e1e;
  --accent3: #459412;
  --accent4: #7c1e1e;
  --branded: #8e11a5;
  --bgprimary: #C53A31;

  /* box shadow  */
  --card-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  --image-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  /* fonts  */
  --fontPrimary: "Readex Pro", sans-serif;
  --fontSecondary: "Outfit", sans-serif;

  /* radius */
  --radiusOne: 8px;
  --radiusTwo: 24px;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input:focus {
  outline-width: 0 !important;
}

.cursor-pointer {
  cursor: pointer;
}

.fit-content {
  width: fit-content;
}

.active {
  color: #000 !important;
  font-weight: 400;
}

.heading {
  font-size: 1.4em;
  text-transform: capitalize;
}

.bg-dark-select {
  background-color: #000 !important;
}

.vd-detail-headings {
  margin-bottom: 5px;
  font-size: 18px;
  color: #656464;
}

.vd-ft {
  display: flex;
}

.cuisine-item {
  margin-right: 0.5rem;
  margin-top: 10px;
}

.higher-zindex {
  z-index: 1050 !important;
  /* Set a higher z-index */
}


.text-bg-normal-bage {
  background-color: #d9822b !important;
}

.text-bg-popular-bage {
  background-color: #459412 !important;}

.text-bg-branded-bage {
  background-color: #8e11a5 !important;
}

.text-bg-default-bage {
  background-color: #94121f !important;
}




.annually-tag {
  background-color: #2c7be5 !important;
}

.monthly-tag {
  background-color: #000000 !important;
}



/* project global start */
.cursor-pointer {
  cursor: pointer;
}

.img-fluid {
  width: 100%;
  display: block;
}

.bg-gradient {
  background-image: linear-gradient(to right, #C53A31, #D6762C);
  height: 155px;
  border-radius: var(--radiusOne);
}

.bg-primary {
  background-color: var(--bgprimary);
  height: 155px;
  border-radius: var(--radiusOne);
}

.text-primary {
  color: var(--secondary);
}

.mx-auto {
  margin: 0px auto !important;
  display: block !important;
}

.text-center {
  text-align: center !important;
}

.text-decoration-none {
  text-decoration: none !important;
}

.text-white {
  color: var(--alternate) !important;
}

.card-box-shadow {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: var(--radiusOne);
}


.job-textarea {
  width: auto !important;
  height: 150px;
  border: 1px solid #D2D2D2 !important;
  /* background: none repeat scroll 0 0 rgba(0, 0, 0, 0.07) !important; */
  border-image: none !important;
  border-radius: 6px 6px 6px 6px !important;
  box-shadow: 0px 0px 11px 2px #4B44D40F inset !important;
  color: #555555 !important;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 1em !important;
  line-height: 1.4em !important;
  padding: 5px 8px !important;
  transition: background-color 0.2s ease 0s !important;
}

.job-textarea:focus {
  background: none repeat scroll 0 0 #FFFFFF !important;
  outline-width: 0 !important;
}

.job-textarea {
  border: 1px solid #ccc !important;
  transition: border-color 0.3s !important;
}

.job-textarea:focus,
.job-textarea:active {
  border: 2px solid var(--secondary) !important;
}


.modal-body img {
  max-width: 100%;
  max-height: 80vh;
  margin: 0 auto;
  display: block;
  border-radius: 8px;
}

.modal-footer .btn-primary {
  display: flex;
  align-items: center;
}






/* Bigger Modal Title */
.modal-title {
  font-size: 1.4rem;
  font-weight: bold;
}

/* Style for the Close Button */
.btn-close {
  color: white; /* White cross icon */
  border: none;
  border-radius: 50%;
  width: 4rem; /* Increase size */
  height: 4rem; /* Increase size */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.25rem; /* Increase icon size */
  padding: 0;
}






/* Subscription page start  */
.subscription-type {
  font-size: 12px;
  font-family: var(--fontPrimary);
  font-weight: 400;
  color: var(--secondarytext);
}

.subscription-red {
  font-size: 16px;
  font-family: var(--fontPrimary);
  font-weight: 500;
  margin-bottom: 5px;
  text-transform: capitalize;
  text-align: left;
  color: var(--secondary);
}

.subscription-green {
  font-size: 16px;
  font-family: var(--fontPrimary);
  font-weight: 500;
  margin-bottom: 5px;
  text-transform: capitalize;
  text-align: left;
  color: var(--accent3) !important;
}
.subscription-yellow {
  font-size: 16px;
  font-family: var(--fontPrimary);
  font-weight: 500;
  margin-bottom: 5px;
  text-transform: capitalize;
  text-align: left;
  color: var(--primary) !important;
}

.subscription-red {
  font-size: 16px;
  font-family: var(--fontPrimary);
  font-weight: 500;
  margin-bottom: 5px;
  text-transform: capitalize;
  text-align: left;
  color: var(--accent2);
}

.subscribe-btn {
  /* background-color: var(--branded) !important; */
  border-radius: var(--radiusTwo) !important;
  font-size: 12px !important;
  text-transform: capitalize !important;
  padding: 2px 16px;
  height: 25px !important;
}

.subscription-dark {
  font-size: 14px;
  font-family: var(--fontPrimary);
  font-weight: 500;
  margin-bottom: 5px;
  text-transform: capitalize;
  text-align: left;
  color: var(--primarytext);
}

/* Subscription page end  */

/* subscription plan page start  */
.sub-plan-title {
  font-size: 18px;
  font-family: var(--fontPrimary);
  font-weight: 500;
  margin-bottom: 5px;
  text-transform: capitalize;
}

.sub-plan-yearly {
  font-size: 14px;
  font-family: var(--fontPrimary);
  font-weight: 500;
  margin-bottom: 5px;
  text-transform: capitalize;
}

.sub-box-violet-title {
  padding: 15px 0px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}

.normal-color {
  background-color: #d9822b !important;
}

.popular-color {
  background-color: #8e11a5 !important;
}

.branded-color {
  background-color: #459412 !important;
}

.sub-box-name {
  color: #ffffff;
  text-align: center;
  font-family: var(--fontPrimary);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0px;
}

.subscription-plans-shadow {
  box-shadow: var(--card-box-shadow);
  width: 100%;
  border-radius: 24px;
}

.sub-plan-month {
  font-size: 10px;
  color: var(--secondarytext);
  font-weight: 400;
  font-family: var(--fontPrimary);
  margin-bottom: 4px;
  text-align: center;
}

.sub-price h3 {
  color: var(--primarytext) !important;
  font-size: 20px;
  font-weight: 500;
  font-family: var(--fontPrimary);
}

.sub-plan-brand {
  font-size: 12px;
  color: var(--secondarytext);
  font-weight: 400;
  font-family: var(--fontPrimary);
  margin-bottom: 4px;
  text-align: center;
}

.sub-plan-para {
  font-size: 12px;
  color: var(--primarytext);
  font-weight: 400;
  font-family: var(--fontPrimary);
  margin-bottom: 4px;
}

.sub-plan-btn {
  /* background-color: var(--branded); */
  border-radius: var(--radiusTwo) !important;
  font-size: 12px !important;
  text-transform: capitalize !important;
}

.sub-box-green-title {
  background-color: var(--accent3);
  padding: 15px 0px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}

.sub-plan-btn-green {
  background-color: var(--accent3) !important;
  border-radius: var(--radiusTwo) !important;
  font-size: 12px !important;
  text-transform: capitalize !important;
}

.sub-box-red-title {
  background-color: var(--secondary);
  padding: 15px 0px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}

.sub-plan-btn-red {
  background-color: var(--secondary) !important;
  border-radius: var(--radiusTwo) !important;
  font-size: 12px !important;
  text-transform: capitalize !important;
}

.sub-box-yellow-title {
  background-color: var(--primary);
  padding: 15px 0px;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}

.sub-plan-btn-yellow {
  background-color: var(--primary) !important;
  border-radius: var(--radiusTwo) !important;
  font-size: 12px !important;
  text-transform: capitalize !important;
}

/* subscription plan page end */

/* Top header start */
.top-header-title {
  font-size: 18px;
  font-weight: 500;
  font-family: var(--fontPrimary);
  color: var(--primarytext);
}

.top-header-desc {
  font-size: 12px;
  font-weight: 400;
  font-family: var(--fontPrimary);
  color: var(--secondarytext);
}

/* Top header end */

.ct-box-padding {
  padding-bottom: 20px;
}


/* one landing start */
.ct-heading {
  text-align: center;
  font-size: 18px;
  font-family: var(--fontPrimary);
  color: var(--primarybg);
  text-transform: uppercase;
  padding-top: 40px;
}

.ct-landing-box {
  box-shadow: var(--card-box-shadow);
  border-radius: var(--radiusOne);
  padding: 30px;
  background-color: var(--primarybg);
  padding-top: 20px;
  padding-bottom: 50px;
  margin-bottom: 40px;
}

.landing-bg {
  background-image: linear-gradient(to right, #c33332, #d9822b);
  padding: 20px 0px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-para {
  font-size: 14px;
  font-family: var(--fontSecondary);
  color: var(--secondarytext);
  font-weight: 500;
}

.ct-box {
  box-shadow: var(--card-box-shadow);
  border-radius: var(--radiusOne);
  margin-top: -75px;
  background-color: var(--primarybg);
  padding-top: 20px;
  padding-bottom: 50px;
  margin-bottom: 40px;
}

.ct-box-details {
  box-shadow: var(--card-box-shadow);
  border-radius: var(--radiusOne);
  background-color: var(--primarybg);
  padding-top: 20px;
  padding-bottom: 50px;
  margin-bottom: 40px;
}

.ct-box-title {
  text-align: center;
  font-size: 22px;
  text-transform: capitalize;
  padding-top: 15px;
  color: var(--primarytext);
  font-weight: 500;
  font-family: var(--fontPrimary);
  margin-bottom: 4px;
}

.ct-box-landing-title {
  text-align: center;
  font-size: 22px;
  text-transform: capitalize;
  padding-top: 15px;
  color: #ffffff;
  font-weight: 500;
  font-family: var(--fontPrimary);
}

.ct-box-line {
  width: 230px;
  background-color: var(--secondary);
  height: 2px;
  display: block;
  margin: 0px auto;
}

.box-negative {
  display: flex;
  justify-content: center;
}

.ct-box-btn-catering {
  background-color: var(--secondary) !important;
  font-size: 12px !important;
  font-family: var(--fontPrimary) !important;
  font-weight: 500 !important;
  border-radius: 8px !important;
  width: 180px !important;
  margin: 0px auto !important;
  margin-bottom: 10px !important;
}

.ct-box-btn-tiffin {
  background-color: var(--primary) !important;
  font-size: 12px !important;
  font-family: var(--fontPrimary) !important;
  font-weight: 500 !important;
  border-radius: 8px !important;
  width: 180px !important;
  margin: 0px auto !important;
}

.ct-box-both {
  font-size: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  color: var(--secondarytext);
  font-family: var(--fontPrimary) !important;
}

.ct-box-btn-catering-tiffin {
  background-color: var(--primarybg) !important;
  font-size: 12px !important;
  font-family: var(--fontPrimary) !important;
  font-weight: 500 !important;
  border-radius: 99px !important;
  width: 250px !important;
  margin: 0px auto !important;
  color: var(--secondary) !important;
}

/* one landing  end */

/* Custom styles for tabs */
/* Base tab styles */
.custom-tab {
  border: 1px solid #d3d3d3;
  border-radius: 20px;
  padding: 4px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #757575;
  background-color: #0a0a0a03 !important;
  transition: all 0.3s ease-in-out;
  max-width: 601px !important;
  min-width: 190px !important;
  text-align: center;
  border-radius: 99px !important;
}

.custom-tab:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.active-tab {
  color: black;
  border-color: #ff6347;
  background-color: #ffffff  !important;
  /* box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1); */
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 1px 5px 0px rgba(0,0,0,0.12);
  margin: 2px !important;
}



.due-date{
  font-size: 10px !important;
  color: #57636c !important;
}

.text-gray{
  color: #57636c
}

.sub-text{
  font-size: 14px !important;
}



/* four enter your loc start  */
.ct-box-btn-current-loc {
  background-color: var(--primarybg) !important;
  font-size: 8px !important;
  font-family: var(--fontPrimary) !important;
  font-weight: 500 !important;
  border-radius: 8px !important;
  width: 180px !important;
  margin: 0px auto !important;
  color: var(--secondary) !important;
}

.ct-box-search-loc {
  font-size: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
  color: var(--secondarytext);
  font-family: var(--fontPrimary) !important;
}

.ct-box-search-results {
  font-size: 12px;
  text-transform: capitalize;
  color: var(--primarytext);
  font-weight: 500;
  font-family: var(--fontPrimary);
}

/* four end enter your loc */
/*Clearing Floats*/
.cf:before,
.cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}

.search-wrapper input {
  padding-left: 20px;
  width: 64%;
  height: 40px;
  padding: 10px 5px;
  float: left;
  border: 0;
  background: #fff;
  /* border-radius: 40px;
  border-top-style: none; */
  border-bottom: 1px solid #00000024;
  border-right: 1px solid #00000024;
  border-top: 1px solid #00000024;
  border-left: 1px solid #00000024;
}

.search-wrapper input:focus {
  outline: 0;
  background: #fff;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8) inset;
}

.search-wrapper input::-webkit-input-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
  padding-left: 0px;
}

.search-wrapper input:-moz-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}

.search-wrapper input:-ms-input-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
  border-style: none;
}

/* Form submit button */
.search-wrapper button {
  overflow: visible;
  position: relative;
  float: right;
  padding: 0;
  cursor: pointer;
  height: 40px;
  width: 110px;
  font-size: 14px;
  color: #908888;
  text-transform: uppercase;
  background: #84909500;
  /* border-radius: 8px; */
  border: 1px solid #00000030;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
}

.search-wrapper button:hover {
  /*     background: #e54040; */
}

.search-wrapper button:active,
.search-wrapper button:focus {
  background: #52535414;
  outline: 0;
}

.search-wrapper button:focus:before,
.search-wrapper button:active:before {
  border-right-color: #c42f2f;
}

.search-wrapper button::-moz-focus-inner {
  /* remove extra button spacing for Mozilla Firefox */
  border: 0;
  padding: 0;
}

.coupon-flex {
  display: flex;
  justify-content: end;
  align-items: center;
  /* margin-bottom: 8px; */
}

.coupon-text {
  font-size: 12px;
  font-family: var(--fontPrimary);
  font-weight: 400;
  margin-bottom: 5px;
  text-align: center;
  text-transform: capitalize;
  color: var(--secondarytext);
}

.diaplay-amt {
  font-size: 16px;
  font-family: var(--fontPrimary);
  font-weight: 400;
  margin-bottom: 5px;
  text-align: center;
  text-transform: capitalize;
  color: var(--secondarytext);
}


.subscription-hr {
  border: 0;
  border-top: 2px solid #0000000f;
}

.text-success {
  color: var(--accent3) !important;
}

.text-danger {
  color: var(--accent2) !important;
}

.coupon-small {
  font-size: 10px !important;
}

.checkbox-enabled {
  color: green !important;
  /* Color for enabled state */
}

.checkbox-disabled {
  color: rgba(0, 0, 0, 0.26) !important;
  /* Color for disabled state */
}

.truncate-text {
  display: inline-block;
  max-width: 17ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
